<body>

  <div id="header">
    <h1><%= link_to "Alpha Blog", articles_path %></h1>
  </div>
  
  <div id="nav">
     <%= link_to "Alpha Blog", articles_path %>
  </div>
  
  <div id="section">
    <h1>Journey learning Ruby On Rails</h1>
      <p>Learning Ruby on Rails using Udemy Ruby on rails Developer Course.</p>
     
  </div>
  
  <div id="footer">
   <br />
   <%= link_to "About Page", about_path %>
  </div>

</body>