<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://alpha-blog-examene.herokuapp.com/"> My Blog</a>
      by <a hreg="Examene7007@gmail.com"> Jeffruy Examene</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
  
  
    
 